{% extends 'base.html' %}
{% block title %}Add Customer{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="container col border border-dark m-2 p-3 bg-dark text-white">
                <h1 class="p-2 text-center">Add Customer</h1>
                <div class="container py-5">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>


            </div>

        </div>

    </div>

</div>

{% endblock body %}

