{% extends 'base.html' %}
{% load static %}
{% block title %}Customer Details{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="font-weight-bold text-center m-2 p-2 border border-dark rounded">Customers</h1>
    <table class="table table-success table-striped table-bordered border-dark m-2 mt-4">
        
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Address</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for c in customer %}
          <tr>
            <th scope="row">{{c.customer_id}}</th>
            <td>{{c.customer_name}}</td>
            <td>{{c.customer_mob_no}}</td>
            <td>{{c.customer_address}}</td>
            <td><button class="bg-success" type="submit">Edit</button>
              <button class="bg-danger" type="submit">Delete</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>                    
{% endblock body %}