{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block body %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <h1 class="font-weight-bold text-center m-2 p-2 border border-dark rounded">
        Dashboard
    </h1>
    <div class="navbar p-4 mt-4">
        <div class="card bg-primary text-white text-center m-2" style="width: 12rem">
            <h5 class="card-title border border-dark bg-dark">Product</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Total Product</h6>
                {% comment %} <p class="card-text h1">{{product.count}}</p> {% endcomment %}
                <p class="card-text h1">{{ product_total_quantity }}</p>
                <p class="card-text h6 text-white bg-danger">Sell:{{ order_total_quantity }}</p>
                <p class="card-text h6 text-white bg-success">Balance:{{ Balance }}</p>
            </div>
            <a href="{% url 'product' %}" class="card-link text-white bg-dark">More Info</a>
        </div>
        <div class="card bg-primary text-white text-center m-2" style="width: 12rem">
            <h5 class="card-title border border-dark bg-dark">Employees</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Total Employees</h6>
                <br>
                <p class="card-text h1">{{employee.count}}</p>
                <br>
            </div>
            <a href="{% url 'employee' %}" class="card-link text-white bg-dark">More Info</a>
        </div>
        <div class="card bg-primary text-white text-center m-2" style="width: 12rem">
            <h5 class="card-title border border-dark bg-dark">Customer</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Total Customer</h6>
                <br>
                <p class="card-text h1">{{customer.count}}</p>
                <br>
            </div>
            <a href="{% url 'customer' %}" class="card-link text-white bg-dark">More Info</a>
        </div>
        <div class="card bg-primary text-white text-center m-2" style="width: 12rem">
            <h5 class="card-title border border-dark bg-dark">Order</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Total Order</h6>
                {% comment %} <p class="card-text h1">{{bill.count}}</p> {% endcomment %}
                <br>
                <p class="card-text h1">{{order_total_quantity}}</p>
                <br>
            </div>
            <a href="{% url 'bill' %}" class="card-link text-white bg-dark">More Info</a>
        </div>
    </div>
</div>
{% endblock body %}