{% extends 'base.html' %}
{% load static %}
{% block title %}Product Details{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="font-weight-bold text-center m-2 p-2 border border-dark rounded">Product</h1>
    <table class="table table-success table-striped table-bordered border-dark m-2 mt-4">
        
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          {% for p in product %}
          <tr>
            <th scope="row">{{p.product_id}}</th>
            <td>{{p.product_name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.total_price}}</td>
          </tr>
          {% endfor %}
          <tr>
            <th></th>
            <th></th>
            <th>Total</th>
            <th>{{ total_quantity }}</th>
            <th>{{ total_price_sum }}</th>
          </tr>

        </tbody>
      </table>
      

</div>                    
{% endblock body %}